
@{
    ViewBag.Title = "Find Conim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-body p-4 border-0 shadow mb-3">
    @*<div class="row">
            <h6>Cari:</h6>
        </div>*@
    <div class="row mb-1 ">
        <div class="col-lg-4 col-xl-4 mb-2">
            <select id="sel_nama" class="form-control form-control-sm ">
                <option></option>
            </select>
        </div>
        <div class="col-lg-4 col-xl-4 mb-2">
            <select id="sel_dept" class="form-control form-control-sm ">
                <option></option>
            </select>
        </div>
        <div class="col-lg-4 col-xl-4 mb-2">
            <select id="sel_site" class="form-control form-control-sm ">
                <option></option>
            </select>
        </div>

        <div class="col-lg-4 col-xl-4 mb-2">
            <select id="sel_kategori" class="form-control form-control-sm ">
                <option></option>
            </select>
        </div>
        <div class="col-lg-4 col-xl-4 mb-2">
            <select id="sel_year" class="form-control form-control-sm ">
                <option></option>
            </select>
        </div>
        <div class="col-lg-4 col-xl-4 mb-2">
            <select id="sel_status" class="form-control form-control-sm ">
                <option></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div>
            <button id="btnFind" class="btn btn-sm btn-outline-success">Find</button>
        </div>
    </div>

</div>

<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <div class="mt-4"></div>
    <table id="tblConim" class="table table-hover">
        <thead>
            <tr>
                <th class="border-gray-200">Nomor</th>
                <th class="border-gray-200">Nama</th>
                <th class="border-gray-200">Departemen</th>
                <th class="border-gray-200">Site</th>
                <th class="border-gray-200">Kategori</th>
                <th class="border-gray-200">Judul</th>
                <th class="border-gray-200">Status</th>
                <th class="border-gray-200">Outstanding</th>
                <th class="border-gray-200">Tanggal Outstanding</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        let DTO = {
            nik: null,
            dept: null,
            site: null,
            kategori: null,
            year: null,
            status: null
        }
        $(document).ready(function () { 

            const table = $('#tblConim').DataTable({
                searching: false,
                "bSort": false,
                "dom": 'rtip'
            })

            $('#sel_nama').select2({
                placeholder: "Pilih Nama"
            });
            $('#sel_dept').select2({
                placeholder: "Pilih Departemen"
            });
            $('#sel_site').select2({
                placeholder: "Pilih Site"
            });
            $('#sel_kategori').select2({
                placeholder: "Pilih Kategori",
                minimumResultsForSearch: Infinity,
            });
            $('#sel_year').select2({
                placeholder: "Pilih Tahun"
            });
            $('#sel_status').select2({
                placeholder: "Pilih Status Laporan"
            });

            // Load Category
            $.ajax({
                type: "POST",
                url: "/api/v1/sp_get_list",
                data: JSON.stringify({
                    Option: "CONIM_CATEGORY"
                }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (res) { 
                    let result = res.map(val => `<option data-id='${val.ID}'>${val.TEXT}</option>`)
                    $('#sel_kategori').append(`<option value='-'>All Kategori</option>`)
                    $('#sel_kategori').append(...result).val('-').trigger('change')

                    DTO.kategori = $('#sel_kategori').val()
                },
                error: (err) => {
                    console.error(err)
                }
            });
            // Load Department
            $.ajax({
                type: "POST",
                url: "/api/v1/sp_get_list",
                data: JSON.stringify({
                    Option: "DEPARTMENT"
                }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (res) {
                    let result = res.map(val => `<option data-id='${val.ID}'>${val.TEXT}</option>`)
                    $('#sel_dept').append(`<option value='-'>All Department</option>`)
                    $('#sel_dept').append(...result).val('-').trigger('change')
                    DTO.dept = $('#sel_dept').val()
                },
                error: (err) => {
                    console.error(err)
                }
            });
            // LOAD SITE
            $.ajax({
                type: "POST",
                url: "/api/v1/sp_get_list",
                data: JSON.stringify({
                    Option: "SITE"
                }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (res) {
                    let result = res.map(val => `<option data-id='${val.ID}'>${val.TEXT}</option>`)
                    $('#sel_site').append(`<option value='-'>All Site</option>`)
                    $('#sel_site').append(...result).val('-').trigger('change')
                    DTO.site = $('#sel_site').val()
                },
                error: (err) => {
                    console.error(err)
                }
            });
            // LOAD EMPLOYEE
            $.ajax({
                type: "POST",
                url: "/api/v1/sp_get_list",
                data: JSON.stringify({
                    Option: "EMPLOYEE"
                }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (res) {
                    let result = res.map(val => `<option value='${val.ID}' data-site='${val.SITE}' data-dept='${val.DEPT}'>${val.TEXT}</option>`)
                    $('#sel_nama').append(...result).trigger('change')
                },
                error: (err) => {
                    console.error(err)
                }
            });
            // LOAD YEAR
            $.ajax({
                type: "POST",
                url: "/api/v1/sp_get_list",
                data: JSON.stringify({
                    Option: "YEAR"
                }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (res) {
                    const d = new Date();
                    let year = d.getFullYear();

                    let result = res.map(val => `<option data-id='${val.ID}'>${val.TEXT}</option>`)
                    $('#sel_year').append(...result).trigger('change')
                    $('#sel_year').val(year).trigger('change')
                    DTO.year = $('#sel_year').val()
                },
                error: (err) => {
                    console.error(err)
                }
            });
            // LOAD STATUS
            $.ajax({
                type: "POST",
                url: "/api/v1/sp_get_list",
                data: JSON.stringify({
                    Option: "STATUS_CONIM"
                }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (res) {
                    console.log(res)
                    let result = res.map(val => `<option value='${val.ID}'>${val.TEXT}</option>`)

                    $('#sel_status').append(`<option value='-'>All Status</option>`)
                    $('#sel_status').append(...result).val('-').trigger('change')

                    DTO.status = $('#sel_status').val()
                },
                error: (err) => {
                    console.error(err)
                }
            });

            const changeFilter = (DTO) => {
                $('#sel_nama').val(DTO.nik).trigger('change')
                $('#sel_dept').val(DTO.dept).trigger('change')
                $('#sel_site').val(DTO.site).trigger('change')
            }

            $('#sel_nama').on('select2:select', (e) => {
                const nik = e.params.data.id
                const dept = e.params.data.element.dataset.dept
                const site = e.params.data.element.dataset.site

                console.log(nik, dept, site)

                DTO.nik = nik
                DTO.dept = dept
                DTO.site = site

                changeFilter(DTO)
            })

            $('#sel_status').on('select2:select', (e) => DTO.status = e.params.data.id)
            $('#sel_year').on('select2:select', (e) => DTO.year = e.params.data.id)
            $('#sel_kategori').on('select2:select', (e) => DTO.type = e.params.data.id)
             
            // Submit Find with parameters
            $('#btnFind').on('click', (e) => { 
                $.ajax({
                    type: "POST",
                    url: "/api/v1/sp_find",
                    data: JSON.stringify({
                        Option: "LAPORAN",
                        NIK : DTO.nik,
                        Type: DTO.type,
                        Department : DTO.dept,
                        Year: DTO.year,
                        Site: DTO.site,
                        Flag: DTO.status
                    }),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        console.log(res)
                        // Disini Tambah data load
                    },
                    error: (err) => {
                        console.error(err)
                    }
                })
            })
        });
    </script>
} 