@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="vh-100 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex align-items-center justify-content-center">
                    <div>
                        <h1 class="mt-5">Halaman tidak ditemukan</h1>
                        <p class="lead my-4">Oops! Looks like you followed a bad link. If you think this is a problem with us, please tell us.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

@section scripts{

}